body {
  margin: 0;
  background: #034;
}

.logo {
  font-size: 30px;
  color: #fff;
}

.main-header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

/* Style for menu */
.menu {
}
.menu-item {
  display: inline;
  padding: 0 10px;
  color: #fff;
}
